* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a, button{
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #24252A;
}

.nav__links{
    list-style: none;
}

.nav__links li{
    display: inline-block;
    padding: 0 20px;
}

.nav__links li a{
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover{
    color: #0088a9;
}

button{
    padding: 9px 25px;
    background: rgba(0, 136, 169, 1);
    border: none;
    border-radius:50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background: rgba(0, 136, 169, 0.7);
}


.page_content{
    margin: 20px 20%;
}

.asteriskField{
    color: var(--red)
}

.requiredField{
    font-weight: bold;
}

#submit-id-submit{
    float: right;
    margin: 20px;
    padding: 10px 30px;
}

.patient-item{
    margin: 10px 0; 
}

table{
    width: 100%;
}

tr{
    height: 35px;
}



.button_container{
    display: flex;
    flex-direction: column;
}

.button_container a{
    margin: 5px
}

td a{
    color: black;
}